.footer {
  background-color: #3c3f44;
  padding: 50px 0 60px 0;

  .contentWrapper {

    .menuBlocks {
      display: flex;
      flex-wrap: wrap;

      .menuBlock {
        width: 25%;
        min-width: 220px;
        margin: 0 0 25px 0;
        flex-grow: 1;

        .socNets {
          margin: 0 0 20px 0;
          a { margin: 0 3px 0 0; }
        }
        .copyRight {
          color: #7F8C8D;
          font-size: 13px;
        }
        .title {
          color: #909497;
          font-weight: bold;
        }
        .menuItem {
          display: block;
          margin: 15px 5px 15px 0;
          color: #D5DBDB;
          font-size: 15px;
          line-height: 1.2;
        }
      }
    }

  }
}
