.mainMenu {
  position: fixed;
  width: 100%;
  z-index: 2;

  .burger {
    display: none;
    cursor: pointer;
  }

  .contentWrapper {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;

    .logo {
      .logoWhiteColor { display: block; }
      .logoBlueColor { display: none; }
    }

    .menuItems {
      display: block;
      margin: auto 0 auto auto;

      .menuItem {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold;
        font-size: 13px;
        margin: 0 0 0 15px;
        padding: 0;
        &:hover {
          color: #2874A6;
        }
      }
    }

  }
}

.reactWindowScroll {
  background-color: white;
  box-shadow: rgba(0,0,0,.13) 0 4px 16px;

  .contentWrapper {
    .logo {
      .logoWhiteColor { display: none; }
      .logoBlueColor { display: block; }
    }
  }
}

@media (max-width: 1000px) {
  .mainMenu {
    background: none;
    box-shadow: none;

    .burger {
      display: block;
    }

    .contentWrapper {
      background-color: white;
      display: block;
      padding-top: 0;
      padding-bottom: 0;

      .logo {
        display: none;
      }

      .menuItems {
        margin: 0;
        display: none;
        padding: 30px 0 30px 0;

        .menuItem {
          text-transform: uppercase;
          color: #000000;
          font-weight: bold;
          font-size: 23px;
          margin: 0;
          padding: 30px 0;
          display: block;
          text-align: center;
        }
      }
      .menuItemsOpenInMobile {
        display: block;
      }

    }

  }
}
