@import '../../node_modules/reset-css/sass/reset';

body { font-family: sans-serif; }
a { text-decoration: none; }

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

//.leftSide-49 { float: left; width: 49%; margin: 0 0 30px 0; }
//.rightSide-49 { float: right; width: 49%; margin: 0 0 30px 0; }
//.leftSide-65 { float: left; width: 65%; margin: 0 0 25px 0; }
//.rightSide-33 { float: right; width: 33%; margin: 0 0 25px 0; }

//@media (max-width: 620px) {
//  .leftSide-49, .rightSide-49, .leftSide-65, .rightSide-33 {
//    float: none; width: 100%;
//  }
//}

//.margin-top-25 { margin-top: 25px; }
//.margin-bottom-25 { margin-bottom: 25px; }
//.border-top { padding: 15px 0 0 0; border-top: 1px solid #c0c0c0; }


@import 'pageElements/slider';
@import 'pageElements/mainMenu';
@import 'pageElements/header';
@import 'pageElements/partials/button';

@import 'pageElements/blockTemplates/template_1';
@import 'pageElements/blockTemplates/template_2';

//@import 'pageElements/mainMenuWithImg';

//@import 'pageElements/rubricHead';

//@import 'pageElements/breadCrumbs';

//@import 'pageElements/pagination';

//@import 'pages/articlePage';
//@import 'pageElements/rubricArticle';

//@import 'pageElements/footer';
