.template_5 {
  text-align: center;
  padding: 90px 0 0 0;
  background-color: white;

  .contentWrapper {
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 25px;

    .title {
      font-size: 40px;
      font-weight: bold;
    }

    .itemsContent {
      margin: 50px 0 0 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .itemContent {
        flex: 1 1 260px;
        text-align: left;
        margin: 20px;

        .title {
          font-size: 32px;
          font-weight: bold;
          padding: 0 0 15px 0;
          border-bottom: 3px solid;
        }
        .content {
          margin: 15px 0 0 0;
          line-height: 1.4;
        }
      }
    }
  }
}

