.template_3 {
  padding: 100px 0 0 0;
  text-align: center;
  background-color: white;

  .title {
    font-size: 65px;
    font-weight: bold;
  }

  .description {
    font-size: 24px;
    margin: 40px 105px 50px 105px;
    line-height: 1.6;
  }

  .tabs {
    .tab {
      display: inline;
      padding: 15px 25px;
      font-size: 20px;
      font-weight: bold;
      color: #777;
      border-bottom: 1px solid #c0c0c0;
      cursor: pointer;
      &:hover {
        color: black;
        border-bottom: 1px solid black;
      }
    }
    .activeTab {
      color: black;
      border-bottom: 1px solid black;
    }
  }

  .tabsContent {
    .tabContent {
      .itemTabContent {

      }
    }
    .hiddenTabContent {
      display: none;
    }
  }

}

@media (max-width: 850px) {
  .template_3 {
    .title {
      font-size: 45px;
    }
    .description {
      margin: 40px 0 50px 0;
    }
  }
}
