<div id="template_4" class="template_4">
	<div class="contentWrapper">

		<div class="wrapper">

			<div class="leftSide">
				<div class="title">
					<%= data.title %>
				</div>
				<div class="content">
					<%= data.content %>
				</div>
			</div>

			<div class="rightSide">

			</div>

		</div>

	</div>
</div>
