<div id="template_2" class="template_2">
	<div class="contentWrapper">

		<div class="title"><%= data.title %></div>

		<div class="wrapperContent">
			<div class="content">
				<div class="title">
					<%= data.content.title %>
				</div>
				<div class="text">
					<%= data.content.text %>
				</div>
			</div>
		</div>

	</div>
</div>
