<div id="header" class="header">
    <div class="contentWrapper">

	    <div class="namePortal">
		    Центр аграрного опыта и <br>инноваций
	    </div>

	    <div class="descrPortal">
		    Изучение современного опыта и новых методов повышения <br>рентабельности аграрного производства
	    </div>

	    <div class="buttons">
		    <%- include('partials/button', {
		    classButton: 'blueButton', text: 'Новые кейсы', link: '#'
		    }); %>
		    &nbsp;
		    <%- include('partials/button', {
		    classButton: 'whiteButton', text: 'Свежий отчет', link: '#'
		    }); %>
	    </div>

    </div>
</div>
