<div id="mainPage" class="mainPage">

	<% pageData.data.forEach(pageData => { %>

		<%- include(`../pageElements/blockTemplates/${pageData.tepmlate_name}`, { data: pageData }); %>

	<% }); %>

</div>
